html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #E3D7DD;
}

canvas {
  display: block;
  margin: auto;
  margin-top: 10%;
}

h1 {
  color: #29506B;
  font-size: 20pt;
  text-align: center;
  margin-top: 3%;
  font-family: hwt-geometric, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h2 {
  color: #29506B;
  font-size: 15pt;
  text-align: center;
  margin-top: 3%;
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 200;
  font-style: normal;
}

h3 {
  color: #29506B;
  font-size: 15pt;
  text-align: center;
  margin-top: 3%;
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 200;
  font-style: normal;
}

p {
  color: #29506B;
  font-size: 10pt;
  text-align: center;
  margin-top: 3%;
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.front {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.instructions {
  padding: 15px;
  text-align: center;
}

.play {
  display: block;
}

iframe {
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%
}

.won {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#two {
  color: #29506B;
  font-size: 15pt;
}

#three {
  color: #29506B;
  font-size: 15pt;
}

#four {
  color: #29506B;
  font-size: 15pt;
}

#home {
  color: #29506B;
  font-size: 15pt;
}

#levels {
  text-align: center;
  color: #29506B;
  font-size: 15pt;
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 200;
  font-style: normal;
}

a:link {
  color: #29506B;
}

a:visited {
  color: #B63231;
}

a:hover {
  color: #EAEAB5;
}

a:active {
  color: #29506B;
}